@font-face {
    font-family: NASA;
    src: url(./media/fonts/nasalization-rg.woff);
}

:root {
    --title-font: "NASA";
    --normal-font: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}

main {
    height: 100vh;
    overflow-y: hidden;
}

#overview {
    overflow-y: scroll;
    height: 100vh;
}

#overview>div:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
    height: 5vh;
}

#overview>div:first-of-type img {
    height: 50px;
    width: auto;
}

#overview>div:first-of-type h1 {
    font-family: var(--title-font), var(--normal-font);
    font-size: 40px;
    margin: 0px 0px 0px 10px;
    display: inline-block;
}

/* Content section */

#overview>div:last-of-type {
    height: calc(95vh - 60px);
    max-height: calc(95vh - 60px);
    width: 84vw;
    padding: 0px 8vw;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Image reflow */

#overview>div:last-of-type span,
#overview>div:last-of-type a span {
    background-color: #E4E5E7;
    width: 400px;
    height: 400px;
    margin: 0px 10px 20px 10px;
    display: block;
    position: relative;
    overflow: hidden;
}

#overview>div:last-of-type span:empty::after {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    transform: translateX(-100%);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 40%, rgba(255, 255, 255, 0));
    animation: pulse 2s infinite;
}

/* Used (https://codepen.io/JCLee/pen/dyPejGV?editors=0100) by "JCLee" as basis for this animation */
@keyframes pulse {
    100% {
        transform: translateX(100%);
    }
}

#overview>div:last-of-type span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

/* Detail section */

#detail {
    background-color: red;
    height: 100vh;
    width: 100vw;
}