/* General */
:root {
    --background-color: #21213E;
    --primary-color: #0FB7FB;
    --secondary-color: #3B3C5B;
    --normal-text-color: #FFFFFF;
    --special-text-colot: #777095;
    --border-radius: 4px;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    margin: 0px;
    background-color: var(--background-color);
    height: 100vh;
    width: 100vw;
}

section {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    overflow: hidden;
    background-color: var(--background-color);
}

.hidden {
    position: absolute;
    left: -9999px;
}

@media only screen and (min-width: 400px) {
    section {
        width: fit-content;
        height: fit-content;
    }
}

h1,
h2 {
    font-weight: 900;
    font-size: 20px;
    grid-column: 2 / 3;
    color: var(--normal-text-color);
    align-self: end;
    margin: 0px;
}

h2::before {
    font-size: 12px;
    display: block;
    color: var(--special-text-colot);
}

button {
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius);
    color: var(--normal-text-color);
    cursor: pointer;
    width: 100%;
    height: 45px;
    font-size: 15px;
    width: 150px;
    background-image: url(./media/next.svg);
    background-repeat: no-repeat;
    background-position: 95% center;
}

button:hover {
    background-image: url(./media/next_hover.svg);
    background-color: var(--background-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}



/* Settings */



/* Questions */
#questions {
    display: grid;
    grid-template-columns: 30px 1fr 1fr 30px;
    grid-template-rows: 50px 1fr 80px 1fr 1fr 80px;
}

#questions h2 {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    align-self: start;
}

#questions h2::before {
    content: "Question";
}

#questions div {
    text-align: center;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: var(--normal-text-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    margin: 7px;
    width: 130px;
    height: 110px;
    padding: 10px;
    display: flex;
}

#questions div::before {
    color: var(--special-text-colot);
    font-size: 12px;
}

#questions div:hover {
    background-color: var(--background-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

#questions div:active {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: var(--background-color);
}

#questions div:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 4 / 4;
    justify-self: end;
    align-self: end;
}

#questions div:nth-of-type(1)::before {
    content: "A";
}

#questions div:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 4 / 4;
    justify-self: start;
    align-self: end;
}

#questions div:nth-of-type(2)::before {
    content: "B";
}

#questions div:nth-of-type(3) {
    grid-column: 2 / 3;
    grid-row: 5 / 5;
    justify-self: end;
    align-self: start;
}

#questions div:nth-of-type(3)::before {
    content: "C";
}

#questions div:nth-of-type(4) {
    grid-column: 3 / 4;
    grid-row: 5 / 5;
    justify-self: start;
    align-self: start;
}

#questions div:nth-of-type(4)::before {
    content: "D";
}

#questions div p {
    margin: auto;
    text-align: center;
}

#questions button {
    grid-column: 3 / 4;
    grid-row: 6 / 6;
    align-self: start;
    justify-self: center;
    width: 150px;
}


/* Scoreboard */