@font-face {
    font-family: NASA;
    src: url(./media/fonts/nasalization-rg.woff);
}

:root {
    --title-font: "NASA";
    --normal-font: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
}

main {
    height: 100vh;
    overflow-y: hidden;
}

#overview {
    overflow-y: scroll;
    height: 100vh;
}

#overview>div:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
    height: 5vh;
}

#overview>div:first-of-type img {
    height: 50px;
    width: auto;
}

#overview>div:first-of-type h1 {
    font-family: var(--title-font), var(--normal-font);
    font-size: 40px;
    margin: 0px 0px 0px 10px;
    display: inline-block;
}

#overview>div:last-of-type {
    height: calc(95vh - 60px);
    max-height: calc(95vh - 60px);
    width: 84vw;
    margin: 0px 8vw;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#overview>div:last-of-type span {
    background-color: #DBDCD9;
    width: 320px;
    height: 320px;
    margin: 0px 10px 20px 10px;
    display: block;
}

#overview>div:last-of-type img {
    max-width: 320px;
    margin: 0px 10px 20px 10px;
    /* todo: er moet nog iets uitgevonden worden om alles dezelfde grootte te geven */
    /* * miss is background-image & background-size: cover; een goede manier*/
}



#detail {
    background-color: red;
    height: 100vh;
    width: 100vw;
}